/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px rgb(221, 161, 94);
    background-color: rgb(254, 250, 224);
  }

  img {
    width: 800px;
  }

.special {
  border: 5px;
  border-style:dashed;
  border-color:rgb(40, 54, 24);
  font-weight: bold;
  color:  rgb(188, 108, 37);
}

