/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px rgb(221, 161, 94);
    background-color: rgb(254, 250, 224);
  }

.mini-section {
  padding: 5px;
  border: solid 1px rgb(221, 161, 94);
  background-color: #fcfaf1;
}  

  img {
    width: 800px;
  }

#output1, #output2, #output3, #old {
  font-style: italic;
} 

.bold {
  font-weight: bold;
}